<!DOCTYPE html>
<html lang="pt">
<head>
    <meta charset="UTF-8">
    <title>Marketplace</title>
    <link rel="stylesheet" href="static/css/style.css">
</head>
<body>
    <header>
        <h1>Marketplace</h1>
        <nav>
            <a href="login.html">Login/Cadastro</a>
        </nav>
        <div>
            <input type="text" id="barra-pesquisa" placeholder="Pesquisar produtos...">
            <button onclick="pesquisarProdutos()">Pesquisar</button>
        </div>
    </header>
    <main>
        <section id="produtos">
            <!-- Os produtos serão carregados aqui -->
        </section>
    </main>
    <script src="static/js/script.js"></script>
</body>
</html>
